<div class="le-club">
    <div class="col-lg-4 col-sm-12">
        <div class="ampoule icon"></div>
        <h2>Réflexion</h2>
        <p>S'ouvrir à d'autres mode de pensées et sortir de son cadre</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="refrsh icon"></div>
        <h2>Echange</h2>
        <p>Chaque idée est intéressante tant qu’on puisse en débattre</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="heart icon"></div>
        <h2>Emotion</h2>
        <p>Quand, transposée à son propre système, l’idée inspire</p>
    </div>
    <div class="le-club-link">
        <a href="le-club icon">Découvrir</a>
    </div>
</div>