.node-type-intervenant {
  .page-header {
    @include h1-title;
    color: $black;
    font-weight: 300;
  }
  #block-system-main {
    .ds-2col-fluid.node-intervenant.view-mode-full {
      background: $grey-light;
      padding: 25px 10px;
      position: relative;

      .group-left{
        @include make-sm-column(4);
        @include make-xs-column(12);
        .field-name-field-int-photo {
        }
      }

      .group-right {
        @include make-sm-column(8);
        @include make-xs-column(12);
        position: initial;
        .field-name-title {
          h2 {
            @include h1-title;
            color: $black;
            font-weight: 300;
            line-height: 34px;
            margin-bottom: 10px;
            margin-top: 0;
            @media (max-width: $screen-sm) {
              margin-top: 20px;
            }
          }
        }
        .field-name-field-int-poste,
        .field-name-body {
          @include p-style;
        }
        .field-name-body {
          margin-bottom: 40px;
        }
        .flippy {
          position: absolute;
          bottom: 20px;
          right: 15px;
          margin: 0;
          padding: 0;
          li {
            height: 40px;
            padding: 0;
            width: 20px;
            display: inline-block;
            &.prev {
              margin-right: 42px;
              a{
                margin-right: 42px;
                &:before {
                  @include icons(previous);
                  color: rgba($black, .5);
                }
              }
            }
            &.next a{
              &:before {
                @include icons(next);
                color: rgba($black, .5);
              }
            }
            a {
              display: block;
              position: relative;
              text-indent: -6000px;
              height: 40px;
              padding: 0;
              width: 20px;
              &:before {
                text-indent: 0;
                display: block;
                position: absolute;
                font-size: 40px;
                color: rgba($black, .5);
                top: 0;
                left: 0;
                line-height: 40px;
              }
            }
          }
        }
      }

    }
  }
}

.page-intervenants {
  .page-header {
    @include h1-title;
    color: $black;
    font-weight: 300;
  }
}