.node-event.view-mode-full.past-event {
  .left-side {
    margin-bottom: 20px;
    .event-info {
      background: $black;
      min-height: 57px;
      margin: 0 0 30px 0;
      @media (max-width: $screen-sm) {
        min-height: 114px;
      }
      p {
        font-size: 20px;
        text-align: center;
        line-height: 57px;
      }
    }

    .field-name-body {
      @include p-style;
    }

    .tarif-link {
      @include border-black-button;
      width: 240px;
      height: 48px;
      text-align: center;
      display: block;
      float: left;
      font-size: 24px;
      line-height: 46px;
      margin: 30px 40px 55px 0;
    }
    .field-name-field-event-inscription {
      float: left;
      width: 240px;
      margin: 30px 40px 0 0;
      a {
        @include plain-black-button;
        width: 240px;
        height: 48px;
        text-align: center;
        display: block;
        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
      }
    }
  }

  .bottom-side {
    .field-name-field-event-photo {
      height: auto;
      overflow: hidden;
      .field-items {
        .field-item {
          float: left;
          margin: 5px;
          a {
            img {
              height: 200px;
              width: auto;
            }
          }
        }
      }
    }
  }

}