form{
  .form-item,
  .field-type-text,
  .form-type-textfield,
  .field-type-list-text {
    @include text-field;
  }
  .form-item,
  .field-type-text-long{
    @include textaera-field;
  }

  .form-actions{

    .form-submit,
    .form-submit.btn-success{
      .glyphicon{
        display: none;
      }
      @include submit-validate;
      margin-bottom: 15px;
    }

    #edit-cancel{
      @include submit-cancel;
      margin-bottom: 15px;
    }
  }
  .webform-component.form-group,
  .form-item-anon-mail.form-group,
  .form-wrapper.form-group{
    @include make-sm-column(6);
  }
  .webform-component.form-group.webform-component-textarea,
  #edit-actions {
    @include make-sm-column(12);
  }

  .field-multiple-drag,
  .tabledrag-toggle-weight-wrapper{
    display: none;
  }
  #edit-field-registration-accompagnant{
    width: 100%;
  }

  .field-name-field-registration-accompagnant{
    .field-multiple-table{
      button.form-submit.btn-danger{
        clear: both;
        @include submit-cancel;
        width: 100px;
        padding: 0;
      }
    }
    button.form-submit.field-add-more-submit{
      @include add-more-button;
    }
  }
}

.field-name-field-registration-invite-statut {
  display: none;
}

