#navbar {
  background: $black;
  color: $white;
  height: 70px;
  line-height: 70px;
  @include border-radius(0);
  margin: 0;
  border:0px;
  .container {
    height: 70px;
    .navbar-header {
      float: left;
      .logo {
        margin: 0;
        height: 70px;
      }
    }

    .navbar-collapse {
      float: right;
      border: none;
      height: 70px !important;
      nav {
        height: 70px;
        #block-system-main-menu {
          ul {
            li {
              display: inline-block;
              a {
                padding: 0 15px;
                font-size: 18px;
                color: $white;
                font-weight: 300;
                text-transform: uppercase;
                @include custom-transition;
              }
              &:hover {
                background: transparent;
                a {
                  background: transparent !important;
                  color: $yellow;
                  @include custom-transition;
                }
              }
              &.last {
                a {
                  padding: 0 0 0 15px;
                }
              }
              &.active-trail {
                a {
                  color: $yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}