body {
  font-family: $font;
}

/*Reset boostrap styles*/

.page-header {
  border-bottom: none;
}

.container {
    padding: 0;
  @media (max-width: $screen-sm) {
    padding-left: 15px;
    padding-right: 15px;

  }
}




/*Global settings*/

.yellow {
  color: $yellow;
}

.white {
  color: $white;
}

hr {
  clear: both;
  border-color: #ccc;
  width: 100%;
  padding: 0 15px;
  @include box-sizing(border-box);
}