.field-name-body {
  font-size: 16px;
  color: $black;
  img {
    @include img-responsive;
    width: 100%;
  }
  .row {
    .row {
      margin: 0;
    }
  }
  .quotebox {
    margin: 0 0 10px 0 !important;
    .quote {
      > div {
        display: inline-block;
      }
      &:before {
        content: "\f100";
        @include icon;
        display: inline-block;
        color: $black;
      }
      &:after {
        content: "\f101";
        @include icon;
        display: inline-block;
        color: $black;
      }
    }
    .byline {
      color: #666666;
      text-align: right;
    }
  }
  h2 {
    @include h1-title;
    font-weight: 300;
    color: $black;
  }
  h3 {
    @include h2-title;
    font-size: 26px;
  }

  ul {
    list-style: disc;
    margin-left: 15px;
    li {
      margin-left: 10px;
    }
  }
}