@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);


$font : 'Source Sans Pro', sans-serif;


//Add FontAwesome

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

$font-icon: 'FontAwesome';

@mixin icon {
  font-family: $font-icon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'galileo';
  src:    url('../font/galileo.eot?e6lta9');
  src:    url('../font/galileo.eot?e6lta9#iefix') format('embedded-opentype'),
  url('../font/galileo.ttf?e6lta9') format('truetype'),
  url('../font/galileo.woff?e6lta9') format('woff'),
  url('../font/galileo.svg?e6lta9#galileo') format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin icons($icon) {
  font-family: 'galileo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  @if $icon == 'ampoule' { content: "\e901"; }
  @if $icon == 'calendar' { content: "\e902"; }
  @if $icon == 'facebook' { content: "\e903"; }
  @if $icon == 'heart' { content: "\e904"; }
  @if $icon == 'linkedin' { content: "\e905"; }
  @if $icon == 'location' { content: "\e906"; }
  @if $icon == 'next' { content: "\e907"; }
  @if $icon == 'previous' { content: "\e908"; }
  @if $icon == 'refresh' { content: "\e909"; }
  @if $icon == 'select' { content: "\e90a"; }
  @if $icon == 'viadeo' { content: "\e90b"; }
  @if $icon == 'youtube' { content: "\e90c"; }
  @if $icon == 'twitter' { content: "\e900"; }
}