/* align handlers*/

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

@mixin horyzontal-align {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
}
@mixin align-all{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}
@mixin all-align {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

/*typo*/

@mixin h1-title {
  color: $yellow;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}

@mixin h2-title {
  color: $black;
  font-size: 14px;
  font-weight: 300;

}

@mixin p-style {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $black;
}

/*custom handlers*/

@mixin make-container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


@mixin custom-transition {
  @include transition(all, .3s);
}


/*Buttons*/

@mixin white-button {
  background: $white;
  color: $black;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  @include custom-transition;
  @include box-sizing(border-box);

  &:hover {
    background: $yellow;
    @include custom-transition;
  }
}

@mixin white-border-button {
  background: transparent;
  color: $white;
  border: solid 1px $white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  @include custom-transition;

  &:hover {
    color: $yellow;
    border-color: $yellow;
    @include custom-transition;
  }
}

@mixin small-black-button {
  background: $black;
  color: $white;
  font-size: 14px;
  @include custom-transition;
  padding: 2px 10px;

  &:hover {
    background: $yellow;
    color: $black;
    @include custom-transition;
    text-decoration: none;
  }
}

@mixin yellow-button {
  background: $yellow;
  color: $black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  @include custom-transition;

  &:hover {
    text-decoration: underline;
    @include custom-transition;
  }
}

@mixin border-black-button {
  background: transparent;
  color: $black;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: solid 1px $black;

  &:hover {
    background: $black;
    color: $white;
    text-decoration: none;
  }
}

@mixin plain-black-button {
  background: $black;
  color: $white;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: solid 1px $black;

  &:hover {
    background: transparent;
    color: $black;
  }
}

@mixin submit-validate {

}

@mixin submit-cancel {

}

